<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>pascal.pw</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="page">
            <header id="header">
                <div class="h-p">P</div>
                <div class="h-a">ascal</div>
                <div class="h-r">ro</div>
                <div class="h-w">W</div>
                <div class="h-e">eiland</div>
                <div class="h-b">eb</div>
            </header>
            <section id="wrapper">
                
            </section>
               <section id="card">
                    Hi, it's Pascal. 
                    <br>
                    My iPhone's batteryLevel is <b><%= batteryLevel %>%</b>
                    <br>
                    Starbucks Card balance is <span class="starbucks"><%= currentBalance %></span>
                    <br>
                    and my last Starbucks checkin was <%= lastStarbucks.ago %> ago. <br>
               </section>
               <section id="foursquare">
                   My last checkin was at <a href="<%= latestCheckin.venue.canonicalUrl %>" target="_blank"><%= latestCheckin.venue.name %></a>
               </section>
                <section id="lastfm">
                    i recently listened to <a href="<%= lastSong.link %>" title="Play it on Spotify"><%= lastSong.track %></a>
                </section>
        </div>
        <script type="text/javascript" src="pascal.js"></script>
    </body>
</html>