
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
     -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #222;
    color: #CCC;
    font-family: Helvetica, serif;
    font-size: 1em;
}

a:link, a:visited {
    color: #9E3A53;
    border: 0;
}

a:hover {
    color: #3A849C;
}

.main {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-cell;
    vertical-align: middle;
}

.headline {
    margin: 20px auto 0;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EEE;
}

.social {
    padding: 40px;
    text-align: center;
}

.photo {
    margin: 30px auto 0;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 100%;
    background: url(pascal.jpg) center no-repeat;
    background-size: 250px;
    background-position: -12px 50%;
}

.has-dragmode .photo {
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.has-dragmode .social {
    margin-top: 230px;
}
